<h1>Pokedex</h1>

<div class="pokedex-container">
</div>

<script type="text/javascript">
  $(function() {
    var $container = $("div.pokedex-container");
    window.appRouter = new PokeApi.AppRouter($container);
  });

</script>
